<h2>Posts</h2>
<ng-container>
    <div class="row">
        <div class="col-8">
            <input 
            (keyup.enter)="createPost(input)" #input
            type="text" class="form-control">
            <ol class="list-group">
              <li *ngFor="let post of posts" class="list-group-item">
                <button 
                (click)="updatePost(post)"
                class="btn btn-primary btn-sm">Update</button>
                <button 
                (click)="deletePost(post)"
                class="btn btn-secondary btn-sm">Delete</button>
                {{post.title}}
              </li>
            </ol>
        </div>
      </div>
</ng-container>

